* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	min-height: 100vh;
	max-width: 100vw;
	font-weight: 400;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}


.navbar,
.dropdown-menu-container li,
.dropdown-menu-container,
.accordion-menu-container,
.accordion-menu,
.dropdown-btn, 
.nav-container {
	background: #eeeeef;
}


.nav-container {
	width: 100%;
	height: 50px;
	box-shadow: 0 0 4px 0 #909b96;
}

.navbar {
	position: fixed;
	top: 7.5%;
    left: 0;
	width: 45%;
	height: 70vh;
	/*box-shadow: 0 5px 10px #909b96;*/
	/*transition: 0.1s;*/
}


.accordion-container {
	display: flex;
	flex-direction: column;
	height: 100%;

}

.accordion-menu-container {
	display: flex;
	align-items: center;
	height: 90%;
}

.accordion-menu {
	height: 65%;
	width: 100%;
	
}

.list-item {
	padding: 8px 12px 08px 0;
	cursor: pointer;
	width: 100%;
	
}

.list-item,
.item-link {
	display: flex;
	justify-content: center;
	width: 100%;
	color: #313131;
	font-size: 15px;	
}

.btn-visit, .btn-support {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar.show-element {
	left: -100%;
}

 .dropdown-menu.show-element {
	display: none;
}

.dropdown-menu-container .list-item {
	padding-bottom: 6px;	

}

.dropdown-menu-container a{
	padding-left: 7px;	
	font-size: 14px;
	
}

.fa-bars {
	display: block;
	text-align: right;
	font-size: 15px;
	padding: 14px 10px;
}

.chevron {
	padding: 5px 0 0 10px;
	font-size: 12px;	
}

@media (min-width: 600px) {

	.navbar {
		top: 0;
		width: 100%;
		height: 60px;
	}
    
    .navbar.show-element{
        left: 0;
    }

	.accordion-menu {
		display: flex;
		align-items: center;
	
	}

	.list-item,
	.item-link {
		width: 95%;
		font-size: 16px;
		padding: 10px;
		margin-right: 8px;
		
	}

	.chevron {
		
		padding-top: 6px;
	}

	.dropdownn-btn {
		position: relative;
		width: auto;
		font-size: 20px;
		padding: 20px;
	}


	.dropdown-menu-container li {
		font-size: 12px;
		padding: unset;
		border: none;	
	}

	
	.fa-bars {
		display: none;
	}

	.dropdown-menu-container a{
		display: flex;
		justify-content: lcenter;
	
    }

	.dropdown-menu-container {
		position: absolute;
		padding-top: 20px 0 10px 10px ;
		height: 150px;
		
    }


}

@media (min-width: 900px) {
	.list-item,
	.item-link {
		
		font-size: 25px;
	}

	.chevron {
		font-size: 20px;
	}

	
}



.footer {
	position: fixed;
	/*z-index: -99999;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 0;
	width: 100vw;
	background-color: rgb(37, 34, 34);
	color: #fff;
	font-size: 11px;
}

.footer-container{
	display: relative;
	width: 100%;
	
}

.footer-col {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.footer-col ul,
.footer-col form,
.copyright {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 5px;
	width: 100%;
}

.footer h1 {
	display: flex;
	flex-wrap: wrap;
	font-size: 13.5px;
	
}

.footer a {
	display: flex;
	color: #fff;
	padding:6px;
}

.footer i {
	display: flex;
	flex-wrap: wrap;
	padding: 2px 4px 0 0;
}

.form-box{
	display: flex;
	flex-direction: row;
}

.form-box label {
	flex-wrap: wrap;
	display: flex;
	
}

.form-box button {
	flex-wrap: wrap;
	font-size: 10px;
}

.form-box input {
	width: 95%;
	margin-left: 5px;
}

.copyright {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 600px) {
	.footer {
		font-size: 13px;
	
	}

	.footer h1 {
		font-size: 13.5px;
		padding-right: 5px;
	}

	.footer-col form {
		flex-wrap: nowrap;
		width: 100%;
	}

	.form-box button {
		padding: 1px;
		font-size: 11px;	
	}

	.form-box input {
		width: 100%;
		margin-right: 10px;
		padding-left: 6px;
		
	}

	.copyright {
		font-size: 10px;
	}
}

@media (min-width: 600px) {
	.footer {
		font-size: 13px;
	}

	.footer h1 {
		font-size: 13.5px;
		padding-right: 5px;
	}

	.footer-col form {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;
	}

	.form-box label {
		margin-bottom: 3px 0;
	}

	.form-box button {
		padding: 2px;
		font-size: 12px;
	}
	.form-box input {
		width: 100%;
		margin-bottom: 3px;
	}
	.copyright {
		font-size: 10px;
	}
}

@media (min-width: 900px) {

	.footer {
		height: 20%;
	}

	.footer-container {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  height: 80%;
	  padding: none;
	  
  }
  
  .footer-col ul{
	  position: relative;
	  display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  width: 100%;
	  font-size: 15px;    
  }
  
  
  .footer-menu{
	  display: flex;
	  width: 30%;
	  height: 100%;
	 
  }
  
  .footer-social{
	  display: flex;
	  width: 30%;
	  height: 70%;
	
  }
  
  .footer-col form {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;

  } 

  .footer h1 {
	  font-size: 13.5px;
	  padding-right: 5px;
  }
  
  .form-box{
	align-items: center;
	height: 50%;	

  }

  .form-box label {
	  margin-bottom: 3px 0;
	  font-size: 15px;
  }
  
  .form-box button {
	  padding: 3px;
	  font-size: 12px;
  }
  
  .form-box input {
	  width: 275px;
	  height: 30px;
	  margin-bottom: 3px;
	  
  }
	  
}
	
	