* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	min-height: 100vh;
	max-width: 100vw;
	font-weight: 400;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}


.navbar,
.dropdown-menu-container li,
.dropdown-menu-container,
.accordion-menu-container,
.accordion-menu,
.dropdown-btn, 
.nav-container {
	background: #eeeeef;
}


.nav-container {
	width: 100%;
	height: 50px;
	box-shadow: 0 0 4px 0 #909b96;
}

.navbar {
	position: fixed;
	top: 7.5%;
    left: 0;
	margin-top: 7px;;
	width: 45%;
	height: 65vh;
	box-shadow: 0 5px 10px #909b96;
	/*transition: 0.1s;*/
}


.accordion-container {
	display: flex;
	flex-direction: column;
	height: 100%;

}

.accordion-menu-container {
	display: flex;
	align-items: center;
	height: 90%;
}

.accordion-menu {
	height: 65%;
	width: 100%;
	
}

.list-item {
	padding: 8px 12px 08px 0;
	cursor: pointer;
	width: 100%;
	
}

.list-item,
.item-link {
	display: flex;
	justify-content: center;
	width: 100%;
	color: #313131;
	font-size: 15px;	
}

.btn-visit, .btn-support {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar.show-element {
	left: -100%;
}

 .dropdown-menu.show-element {
	display: none;
}

.dropdown-menu-container .list-item {
	padding-bottom: 6px;	

}

.dropdown-menu-container a{
	padding-left: 7px;	
	font-size: 14px;
	
}

.fa-bars {
	display: block;
	text-align: right;
	font-size: 15px;
	padding: 14px 10px;
}

.chevron {
	margin: 5px 0 0 10px;
	font-size: 12px;	
}




@media (min-width: 600px) {

	.navbar {
		display: flex;
		justify-content: center;
		top: 0;
		width: 100%;
		height: 60px;
		box-shadow: 0 0 4px 0 #909b96;
	}
    
   .navbar.show-element{
        left: 0;
    }

	.accordion-menu {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.list-item,
	.item-link {
		display: flex;
		justify-content: center;
		padding: 0 20px;
		font-size: 15px;

	}

	.dropdownn-btn {
		font-size: 16px;
		padding: 20px;
		margin-bottom: 15px;
	}

	.fa-bars {
		display: none;
	}

	.dropdown-menu-container a{
		display: flex;
		justify-content: left;
		padding: 10px 0;
		font-size: 14px;
    }

	.dropdown-menu-container {
		position: absolute;
		padding: 30px 0 20px 0;
	
    }
}


@media (min-width: 900px) {

	.list-item,
	.item-link {
		font-size: 20px;
	}

	.dropdown-menu-container a{
		font-size: 15px;
	}

	.chevron {
		font-size: 15px;
	}

	
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(37, 34, 34);
	color: #fff;
	font-size: 11px;
}

.footer-col {
	height: 100%;
	width: 100%;
}

.footer-col ul,
.footer-col form,
.copyright {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 5px;
	width: 100%;
}

.footer a {
	display: flex;
	color: #fff;
	padding: 6px;
}

.footer i {
	display: flex;
	flex-wrap: wrap;
	padding: 2px 4px 0 0;
}

footer i:hover{
	transform: scale(2);
}

.email-input{
	margin: 0 4px;
}

.form-btn{
	font-size: 11px;
	padding: 1px;
}

.copyright {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 600px) {
	.footer {
		font-size: 13px;
	}

	.footer h1 {
		font-size: 13.5px;
		padding-right: 5px;
	}

	.footer-col{
		display: flex;
	}	

	.form-email{
		display: flex;
	}

	.form-btn {
		padding: 2px;
		font-size: 12px;
	}

	.form-email input {
		margin-bottom: 3px;
	}
	
	.copyright {
		font-size: 10px;
	}
}

@media (min-width: 900px) {


	.footer-container {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content:space-around;  
	  height: 100%;
	  font-size: 15px;
  }

  
  .footer-menu ul{
	  display: flex;
	  flex-direction: column;
	  width: 100%; 
	  padding-top: 8px;
  }
 
  .footer-social ul{
	display: flex;
	width: 100%;
  }

  .footer-social a{
	display: flex;
	width: 30%;

  }

 .footer-social li{
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 8px;
  }
  
  .footer-col{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	height: 100%;
	padding-top: 10px;
  }

  .footer a {
	display: flex;
	color: #fff;
	padding-top: 02px;
}

  .footer h1 {
	  font-size: 13.5px;
	  padding-right: 5px;
  }

  .form-label {
	width: 100%;
	font-size: 15px;
	padding-top: 45%;
  }


  .form-email input {
	  height: 25px; 
  }

  .form-email{
	width: 400px;
  }

  .form-btn{
	font-size: 15px;
  }
	 
}
	
	